<header class="header nan-site-header">
    <nav class="nav nan-nav" aria-label="Primary navigation">
        <a class="nan-nav__brand" href="{{ site.Home.RelPermalink }}" accesskey="h"
            title="{{ site.Title }} (Alt + H)">{{ site.Title }}</a>

        <div class="nan-nav__right">
            <ul id="menu" class="nan-nav__links">
                {{- range site.Menus.main }}
                <li><a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}">{{ .Name }}</a></li>
                {{- end }}
            </ul>

        </div>
    </nav>
</header>
